/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 10 Chrome versions
*/

.plgn-ybtn-srch {
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
  }
  
.plgn-ybtn-srch__btn {
  overflow: hidden;
  display: block;
  border-radius: 0;
  touch-action: manipulation;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  height: 100%;
  border: none;
  margin: -5px 10px;
  padding: 5px;
  height: 56px;
  transition: 0.1s;;
}

.plgn-ybtn-srch__icon-wrapper {
  overflow: hidden;
  display: block;
  height: 100%;
}

.plgn-ybtn-srch__icon {
  width: 88px;
  height: 100%;
  position: relative;
  display: block;
  border: 0 solid #ffdb4d;
  background-color: #ffdb4d;
  transition: .1s ease-out;
  transition-property: border-color, background-color;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='171' height='48' viewBox='0 0 171 48'%3E%3Cpath d='M98.8,41.2c3.3,0,6-1.5,7.8-4.4l0.4,3.8h6.4V0h-6.9v14.7c-1.7-2.6-4.3-4-7.4-4c-6.7,0-11.4,5.7-11.4,15.5C87.7,35.8,92.3,41.2,98.8,41.2z M141.5,38.6v-5.7c-2.2,1.5-5.8,2.8-9.2,2.8c-5.1,0-7-2.4-7.3-7.3h16.8v-3.7c0-10.2-4.5-14.1-11.4-14.1c-8.5,0-12.5,6.5-12.5,15.4c0,10.2,5,15.2,13.9,15.2C136.2,41.2,139.5,40,141.5,38.6z M66.7,19.5c1.3-1.6,3.3-2.9,5.8-2.9c2.4,0,3.6,1.1,3.6,3.3v20.7H83V19.2c0-5.8-2.3-8.4-8-8.4c-4.1,0-6.6,1.5-8,2.9h-0.4l-0.2-2.4h-6.8v29.4h6.9L66.7,19.5L66.7,19.5z M54.1,20.6c0-7.1-3.6-9.8-11-9.8c-4.6,0-8.2,1.9-10.3,3.4v6c2.2-1.8,5.6-3.9,9.5-3.9c3.3,0,4.8,1.2,4.8,4.3v1.9H46c-10.6,0-15.4,3.4-15.4,9.6c0,5.7,3.6,8.9,9,8.9c4.1,0,5.8-1.3,7.2-2.8h0.3c0,0.8,0.3,1.7,0.5,2.3h6.8c-0.2-2.4-0.4-4.8-0.4-7.2L54.1,20.6L54.1,20.6z M162.9,40.6h7.8l-9.6-15.1l8.3-14.2h-6.9l-5,8.9l-5.6-8.9H144l8.9,14.1l-9.2,15.3h7.1l5.9-9.9L162.9,40.6z M100.9,16.1c3.7,0,5.6,3,5.6,9.7c0,6.8-2,9.8-5.9,9.8c-3.8,0-5.7-2.9-5.7-9.6C94.9,19.2,96.9,16.1,100.9,16.1z M130.3,16.1c3.4,0,4.5,2.9,4.5,6.5v0.6h-9.7C125.2,18.6,126.9,16.1,130.3,16.1z M47.1,33.6c-0.9,1.3-2.5,2.3-5,2.3c-2.9,0-4.4-1.7-4.4-4.3c0-3.4,2.4-4.6,8.4-4.6h1V33.6z' fill='%23000'/%3E%3Cpath d='M20.4,33.7v6.9h-7.1V29L0,0h7.4l10.4,22.7C19.7,27,20.4,28.5,20.4,33.7z M33.7,0L25,19.6h-7.2L26.5,0H33.7z' fill='%23FC3F1D'/%3E%3C/svg%3E");
  background-position: center;
  background-size: contain;
  padding: 0 10px;
  background-origin: content-box;
  border-radius: 10px;
}

html[lang="ru"] .plgn-ybtn-srch__icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='144' height='103' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M125.427 66.316c2.326 0 3.975-.423 5.201-1.311v-4.103c-1.268.889-2.791 1.438-4.905 1.438-3.595 0-5.075-2.79-5.075-7.19 0-4.609 1.818-6.977 5.117-6.977 1.945 0 3.848.677 4.863 1.311v-4.271c-1.057-.592-2.918-1.015-5.413-1.015-6.428 0-9.769 4.61-9.769 11.08 0 7.105 3.256 11.038 9.981 11.038zm-31.464-1.861v-4.102c-1.565 1.057-4.187 1.987-6.64 1.987-3.68 0-5.075-1.734-5.286-5.286h12.137V54.39c0-7.401-3.256-10.192-8.289-10.192-6.132 0-9.05 4.694-9.05 11.122 0 7.4 3.637 10.996 10.065 10.996 3.214 0 5.582-.846 7.063-1.861zM47.866 44.62v8.415h-6.724v-8.415H36.11v21.272h5.032v-8.881h6.724v8.88H52.9V44.622h-5.033zM75.61 61.917h-2.242V44.621H58.693v1.818c0 5.202-.339 11.926-2.115 15.478h-1.565v8.839h4.652v-4.863h11.292v4.863h4.652v-8.839zm34.424 3.976h5.709l-8.077-11.461 7.104-9.811h-5.074l-7.105 9.811v-9.811h-5.033v21.272h5.033V55.447l7.443 10.446zm-24.232-17.72c2.495 0 3.256 2.072 3.256 4.736v.423h-7.02c.127-3.383 1.353-5.159 3.764-5.159zM68.335 61.917H61.23c1.396-3.214 1.776-9.008 1.776-12.687v-.634h5.329v13.321z' fill='%23000'/%3E%3Cpath d='M31.88 65.892h-5.116V40.476H24.48c-4.187 0-6.386 2.114-6.386 5.244 0 3.552 1.523 5.202 4.652 7.316l2.58 1.734-7.443 11.122h-5.54l6.682-9.938c-3.849-2.749-6.006-5.413-6.006-9.938 0-5.667 3.933-9.515 11.419-9.515h7.443v29.391z' fill='%23FC3F1D'/%3E%3C/svg%3E");
  background-size: cover;
  background-origin: border-box;
}

.plgn-ybtn-srch__btn:hover .plgn-ybtn-srch__icon {
  border-color: #ffd633;
  background-color: #ffd633;
}

.plgn-ybtn-srch__btn:active .plgn-ybtn-srch__icon {
  border-color: #fc0;
  background-color: #fc0;
}


/* for tab navitagion */
.plgn-ybtn-srch__btn:focus {
  outline: 2px solid #fc0;
}


/* disable outline when mouse interactive */
html:not(.zAoYTe) .plgn-ybtn-srch__btn:focus {
  outline: none;
}

.minidiv .plgn-ybtn-srch__btn{
  height:46px;
}
.minidiv .plgn-ybtn-srch__icon{
  width: 69px;
}
.minidiv .plgn-ybtn-srch__icon::before {
  border-width: 19px 0 19px 9px;
}
